
{% if item.background.first %}
  {% assign background = item.background.img %}
{% else %}
  {% assign background = item.background %}
{% endif %}

<div class="card" data-tags="{% for tag in item.tags %}{{ tag | downcase | strip }}|{% endfor %}">
  {% if item.background %}
    <a href="{{ item.url | relative_url }}">
      <img class="card-img-top" src="{{ background | relative_url }}" alt="Background image">  
    </a>
  {% else %}
    <div class="card-img-top bg-secondary"></div>
  {% endif %}

  <div class="card-body position-relative">
    {% if item.collection == 'posts' %}
      <div class="d-flex align-items-center">
        <p class="card-subtitle mb-0" style="margin-right: 1rem;">
          {{ item.date | date: "%Y 年 %m 月 %d 日" }}
        </p>
        <a href="{{ item.url | relative_url }}" class="card-title" style="margin-left: 1rem;">
          {{ item.title }}
        </a>
        </div>
    {% endif %}
  </div>
</div>
